@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.user-information {
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid black;
}

.user-information .title-header {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px lightgrey;
  margin: auto 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-information .login-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 1.5rem;
}

.user-information .login-information #auth-status {
  font-size: 0.75rem;
  font-style: italic;
}

.user-information .login-information .user {
  font-weight: bold;
}

.user-information .login-information button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 30rem;
}

.main-body #blog-navbar {
  width: 30%;
  border-right: 2px solid black;
}

.main-body #blog-navbar #blog-overview {
  height: 67%;
  margin: 1rem auto;
  text-align: center;
}

.main-body #blog-navbar #blog-overview .nav-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body #blog-navbar #blog-detail-info {
  height: 33%;
  margin: 1rem auto;
  text-align: center;
  border-top: 2px solid black;
}

.main-body #main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

#main-section .post-overview {
  width: 100%;
  margin: 1.5rem;
}

#main-section .post-overview #new-post-button {
  margin-bottom: 1.5rem;
}

#main-section .post-overview #new-post-button :hover {
  color: red;
}

#main-section .post-overview .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main-section .post-overview .article-container .post-article {
  width: 15rem;
  height: 10rem;
  margin: 0.75rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

#main-section .post-detail {
  width: 100%;
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-section .post-detail .go-back-btn {
  margin-bottom: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#main-section .post-detail .go-back-btn :hover {
  color: pink;
}

#main-section .post-detail .detail-article {
  width: 60%;
  border: 1px solid black;
}

#main-section .comments {
  width: 60%;
  margin: 1.5rem 0;
  border: 1px solid black;
}
/*# sourceMappingURL=main.css.map */