@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
  height: 100%;
}
body {
    height: 100%;
}

html .italic {
  font-style: italic;
}

html .bold {
  font-weight: bold;
}

html .underline {
  text-decoration: underline;
}

.user-information {
  width: 100%;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid #000000;
}

@media (min-width: 480px) {
  .user-information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 6rem;
  }
}

@media (min-width: 750px) {
  .user-information {
    background-color: #cacac8;
  }
}

.user-information .title-header {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #cacac8;
  margin: auto 1.5rem;
  text-align: center;
}

@media (min-width: 480px) {
  .user-information .title-header {
    font-size: 3rem;
  }
}

.user-information .login-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 1.5rem;
}

.user-information .login-information .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 300px) {
  .user-information .login-information .info-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.user-information .login-information .info-block #auth-status {
  display: none;
}

@media (min-width: 300px) {
  .user-information .login-information .info-block #auth-status {
    display: block;
    font-size: 1rem;
    font-size: 0.75rem;
  }
}

@media (min-width: 480px) {
  .user-information .login-information button {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 750px) {
  .main-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
  }
}

.main-body #blog-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  
}



.main-body #blog-navbar .nav-select {
  margin-bottom: 1rem;
}

@media (min-width: 480px) {
  .main-body #blog-navbar .nav-select {
    display: none;
  }
}

.main-body #blog-navbar .nav-select label {
  margin: 0 0.5rem;
}

.main-body #blog-navbar .nav-select select {
  width: 100%;
}

.main-body #blog-navbar .nav-list {
  display: none;
}

@media (min-width: 480px) {
  .main-body #blog-navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
}

@media (min-width: 480px) {
  .main-body #blog-navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-body #blog-navbar #blog-detail-info {
    width: 50%;
  }
  .main-body #blog-navbar #blog-overview {
    width: 50%;
    height: 7rem;
    text-align: center;
    overflow: auto;
  }
}

@media (min-width: 750px) {
  .main-body #blog-navbar {
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30rem;
    border-right-style: solid;
    border-width: 1.2px;
  }
  .main-body #blog-navbar #blog-detail-info {
    width: 100%;
    height: 33%;
    margin: 1rem auto;
  }
  .main-body #blog-navbar #blog-overview {
    width: 100%;
    height: 67%;
    margin: 1rem auto;
  }
}

@media (max-width: 750px) {
  .main-body #blog-navbar {
    border-bottom: 2px solid #000000;
    background-color: #cacac8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media (min-width: 750px) {
  .main-body #main-section {
    width: 70%;
    
  }
}

#main-section {
  margin: 1rem;
  height: 100%;
}

@media (min-width: 480px) {
  #main-section {
    margin: 2rem;
  }
}

@media (min-width: 750px) {
  #main-section {
    overflow: auto;
  }
}

.post-overview {
  width: 100%;
}

.post-overview .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
  width: 100%;
      
  margin: 1.5rem 0;
}

.post-overview .article-container .post-article {
  width: 15rem;
}

@media (min-width: 480px) {
  .post-overview .article-container .post-article {
    width: 20rem;
  }
}

.post-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 750px) {
  .post-detail {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

.post-detail nav {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.post-detail nav .go-back-btn {
  margin: 0.75rem 1rem;
  width: 12rem;
}

.post-detail nav .detail-article {
  margin: 1.5rem 1rem;
}

.comments {
  margin: 1.5rem 1rem;
  width: 100%;
}

.comments .comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
}

.comments .comments-container article {
  margin: 1rem;
}

body {
  background-color: #fffffc;
}

.post-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  border: 5px solid #f4a6ae;
  border-radius: 0.75rem;
}

.post-article .card-header {
  display: block;
  padding: 0.5rem 1rem 0.75rem 1rem;
  background-color: #f4a6ae;
  text-decoration: none;
  color: #000000;
}

@media (min-width: 480px) {
  .post-article .card-header {
    font-size: 1.25rem;
  }
}

.post-article .card-information {
  margin: 0.75rem 1rem;
  font-size: 0.85rem;
}

@media (min-width: 480px) {
  .post-article .card-information {
    font-size: 1rem;
  }
}

.post-article footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5rem 1rem;
}

.post-article footer button {
  margin: 0 0.25rem;
}

.post-detail .detail-article {
  margin: 1rem auto;
  border: 5px solid #f4a6ae;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
}

.post-detail .detail-article .card-header {
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-color: #f4a6ae;
  background-color: #f4a6ae;
  font-size: 1.25rem;
}

.card-header {
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-color: #f4a6ae;
  background-color: #f4a6ae;
  font-size: 1.25rem;
}

.editor{
    width: 96%;
}



.post-detail .detail-article .card-information {
  padding: 0.5rem 1rem 0.75rem 1rem;
}

.post-detail .detail-article section {
  margin: 0.5rem 2.5rem;
}

.post-detail .detail-article footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5rem;
}

.post-detail .detail-article footer button {
  margin: 0 0.25rem;
}

.post-detail .comments {
  border: 5px solid #f4a6ae;
  border-radius: 0.5rem;
  width: 98%;
}

.post-detail .comments .section-header {
  font-size: 1.25rem;
  padding: 0.5rem 0.3rem 0.5rem 1rem;
  background-color: #f4a6ae;
  width: 98%;
}

.post-detail .comments .comment-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #f4a6ae;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  width: 90%;
}

.post-detail .comments .comment-article .comment-content {
  margin: 0.5rem 1rem;
}

.post-detail .comments .comment-article .comment-information {
  margin-right: 1rem;
  font-size: 0.75rem;
}

.post-detail .comments .comment-article footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 0.5rem;
}

.overall-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overall-container .editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px solid #f4a6ae;
  border-radius: 0.5rem;
}

@media (max-width: 480px) {
  .overall-container .editor {
    width: 100%;
  }
}

.overall-container .editor .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0.75rem 1rem;
}

.overall-container .editor .form-container .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall-container .editor .form-container .input :nth-child(2) {
  margin: 0.5rem 1rem 0.5rem 2rem;
  border: 2px solid #ebe9ed;
  padding: 1px 2px;
}

.overall-container .editor .form-container .input .title-input {
  width: 96%;
  height: 2rem;
}

.overall-container .editor .form-container .input .editable-content {
    display: inline-block;
  overflow: auto;
  height: 12rem;
  
}

@media (min-width: 480px) {
  .overall-container .editor .form-container .input .editable-content {
    width: 96%;
    
  }
}

.overall-container .editor .form-container h2 {
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.75rem 1rem;
  background-color: #f4a6ae;
}

.overall-container .editor .form-container .buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.Action-Button {
  padding: 0.25rem 0.5rem;
  background-color: #f09d51;
  border-color: #f09d51;
  border-radius: 0.5rem;
}

#new-post-nav {
  width: 100%;
}

@media (max-width: 480px) {
  #new-post-nav .new-Post-btn {
    width: 100%;
    border-radius: 0.5rem;
  }
}

@media (min-width: 480px) {
  #new-post-nav .new-Post-btn {
    margin: 0.75rem 1rem;
    width: 9rem;
  }
}

.extern-link-btn {
  border: 1px solid #f09d51;
  text-decoration: none;
  color: #000000;
}

#blog-detail-info {
  width: 100%;
}

#blog-detail-info .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 20rem;
}

@media (min-width: 480px) {
  #blog-detail-info .blog-info {
    max-width: 18.75rem;
  }
}

#blog-detail-info .blog-info h2 {
  font-size: 1.25rem;
}

#blog-detail-info .blog-info .extern-link-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.nav-select {
  width: 100%;
  position: relative;
}

.nav-select::before {
  font-family: 'FontAwesome';
  content: "\f078";
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: #000000;
  pointer-events: none;
}

.nav-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #000000;
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  color: #000000;
  cursor: pointer;
}

.nav-select select:focus {
  border: 1px solid #000000;
}

.nav-select select option {
  font-size: 1rem;
}

.nav-list li {
  background-color: #f4a5ae;
  border: 1px solid #f4a5ae;
  border-radius: 0.5rem;
  width: 80%;
  margin: 0.25rem auto;
  padding: 0.25rem 0;
  cursor: pointer;
}

.nav-list li:hover {
  background-color: #ec6171;
  border-color: #ec6171;
}

@media (max-width: 550px) {
  .main-body #blog-navbar #blog-overview {
    width: 100%;
  }
  .post-overview .article-container {
      grid: auto / 100%;
    justify-items: center;
  }
  .post-overview .article-container .post-article{
      width: 100%;
  }
}
@media (min-width: 550px) {
    .post-overview .article-container {
      grid: auto / auto auto ;
      grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
        gap: 2rem;
  }
  
  .post-overview .article-container .post-article{
      width: 96%;
  }
}



/*# sourceMappingURL=main.css.map */