// media queries / breakpoints
$breakpoints: (
    'mobile': 300px,  
    'tablet': 480px,
    'desktop': 750px, 
);

// colors
$lightblue: #BAD7DF;
$rosa: #FFE2E2;
$eggshell: #F6F6F6;
$greenish: #99DDCC;