// media queries / breakpoints
$breakpoints: (
    'mobile': 300px,  
    'tablet': 480px,
    'desktop': 750px, 
);

// colors
$background: #faeee7;
$buttons: #ff8ba7;
$secondary: #ffc6c7;
$fonts: #33272a;
$paragraph: #fffffe; 