// media queries / breakpoints
$breakpoints: (
    'mobile': 300px,  
    'tablet': 480px,
    'desktop': 750px, 
);

// colors 
// $white: #fffffc;
// $black: #000000;
// $feather: #f4a6ae;
// $marine: #f4a5ae;
// $forest: #f09d51;
// $sleekyGrey: #cacac8;

$white: #fff;
$black: #000;
$grey: #EBE9ED;
$dark-grey: #A9A9A9;

$background: #fffffc;
$buttons: #FFA69E;
$button-fonts: #fffffc;
$secondary: #9BD1E5;
$accessoire: #6A8EAE;
$header: #D1FAFF;