@import "../helpers/variables";
@import "../helpers/mixins";

// overall-background
body {
  background-color: $background;
}

// Post-Overview cards
.post-article {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 5px solid $secondary;
  border-radius: 0.75rem;
  background-color: $white;

  .card-header {
    display: block;
    padding: 0.5rem 1rem 0.75rem 1rem;
    background-color: $secondary;
    text-decoration: none;
    color: $black;

    @include breakpoint("tablet") {
      font-size: 1.25rem;
    }
  }

  .card-information {
    margin: 0.75rem 1rem;
    font-size: 0.85rem;

    @include breakpoint("tablet") {
      font-size: 1rem;
    }
  }

  footer {
    align-self: flex-end;
    margin: 0.5rem 1rem;

    button {
      margin: 0 0.25rem;
    }
  }
}

// Post-Detail card + comments
.post-detail {
  
  .detail-article {
    margin: 1rem auto;
    border: 5px solid $secondary;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: $white;

    .card-header {
      padding: 0.5rem 1rem 0.75rem 1rem;
      border-color: $secondary;
      background-color: $secondary;
      font-size: 1.25rem;
    }

    .card-information {
      padding: 0.5rem 1rem 0.75rem 1rem;
    }

    section {
      margin: 0.5rem 2.5rem;
    }

    footer {
      align-self: flex-end;
      margin: 0.5rem;

      button {
        margin: 0.5rem 0.25rem;
      }
    }
  }

  .comments {
    width: 98%;

    .section-header {
      font-size: 1.25rem;
      padding: 0.5rem 0 0.5rem 1rem;
      background-color: $secondary;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    .comment-article {
      display: flex;
      flex-direction: column;
      border: 5px solid $secondary;
      border-radius: 0.5rem;
      padding: 0.75rem 1.25rem;

      .comment-content {
        margin: 0.5rem 1rem;
      }

      .comment-information {
        margin-right: 1rem;
        font-size: 0.75rem;
      }

      footer {
        align-self: flex-end;
        margin-top: 0.5rem;
      }
    }
  }
}

// editor
.overall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .editor {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 56.25rem;
    // border: 5px solid $feather;
    // border-radius: 0.5rem;

    @include breakpoint("tablet", "max") {
      width: 100%;
    }

    h2 {
      font-size: 1.25rem;
      padding: 0.5rem 0 0.5rem 1rem;
      background-color: $secondary;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0.75rem 1rem;

      .input {
        display: flex;
        flex-direction: column;

        & :nth-child(2) {
          margin: 0.5rem 1rem 0.5rem 2rem;
          border: 2px solid $grey;
          padding: 1px 2px;
        }

        .editable-content {
          overflow: auto;
          height: 12rem;
        }

        .post-content {
          background-color: $white;
        }
      }

      .buttons {
        align-self: flex-end;
      }
    }
  }
}
